<!DOCTYPE html>
<html>

<head>
    <title>Password reminder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/style.css" />
</head>

<body>
    <div class="container">
        <h1>Remind password</h1>
        <form action="forgot" method="post">

            <div class="login">
                <label>Login</label><br>
                <input type="text" name="login" required><br><br>
            </div>

            <div>
                <label>Email</label><br>
                <input type="email" name="email" id="email" required><br><br>
            </div>

            <div class="button">
                <button type="submit">Get password</button>
            </div>

        </form>

    </div>
</body>

</html>