<!DOCTYPE html>
<html>

<head>
    <title>Menu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/style.css" />
</head>

<body>
    <div class="menu">
        <h1>Menu</h1>
        <div class="menu-buttons">
            <button>Start game</button><br>
            <button>Exit</button>
        </div>
    </div>
</body>
</html>